---
layout: default
title: JSdayBR
---
<div id="events">
  <h1>Edições</h1>

  <nav>
    {% for event in site.categories.events %}
      {% assign currentdate = event.date | date: "%Y" %}
      {% if currentdate != date %}
        <a href="#{{currentdate}}">{{currentdate}}</a>
        {% assign date = currentdate %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="events">
  {% for event in site.categories.events %}
    {% assign currentdate = event.date | date: "%Y" %}
    {% if currentdate != date %}
      <section id="{{currentdate}}">
    {% endif %}
        <article>
          <h2>{{ event.title }}</h2>
          <img src="" alt="">
          <span>{{ event.date | date_to_string }}</span>
          <p>{{ event.content }}</p>
        </article>
    {% if currentdate != date %}
      </section>
      {% assign date = currentdate %}
    {% endif %}
  {% endfor %}
  </div>
</div>
