---
layout: default
title: JSdayBR
---
<div id="events" class="events">
  <a class="events__anchor" id="events-anchor"></a>
  <h1 class="events__title">Edições</h1>

  <nav class="events-nav">
    {% assign init = 'true' %}
    {% for event in site.categories.events %}
      {% assign currentdate = event.date | date: "%Y" %}
      {% if currentdate != date %}
        {% if init == 'true' %}
          <a class="events-nav__item events-nav__item--current" href="#{{currentdate}}">{{currentdate}}</a>
          {% assign init = 'false' %}
        {% else %}
          <a class="events-nav__item" href="#{{currentdate}}">{{currentdate}}</a>
        {% endif %}
        {% assign date = currentdate %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="events-list">
  {% assign date = '' %}
  {% assign init = 'true' %}
  {% for event in site.categories.events %}
    {% assign currentdate = event.date | date: "%Y" %}
    {% if currentdate != date and init != 'true' %}
      </section>
    {% endif %}
    {% if currentdate != date %}
      {% if init == 'true' %}
        <section id="{{currentdate}}" class="event_year current">
      {% else %}
        <section id="{{currentdate}}" class="event_year">
      {% endif %}
      {% assign date = currentdate %}
      {% assign init = 'false' %}
    {% endif %}
        <article class='event'>
          <div class="aside">
            <h2>{{ event.title }}</h2>
            <img src="{{ event.image }}" alt="{{ event.title }}">
          </div>
          <div class="content">
            <span>{{ event.date | date: '%d.%m.%Y' }}</span>
            <p>{{ event.content }}</p>
            <p class="record">
              <span>FICHA TÉCNICA</span>
              <span class="values">
                <b>{{ event.participants }}</b> PARTICIPANTES | <b>{{ event.talks }}</b> PALESTRAS | <b>{{ event.workshops }}</b> WORKSHOP | <b>{{ event.hours }}</b> DE CONTEÚDO
              </span>
            </p>
          </div>
        </article>
  {% endfor %}
  </div>
</div>
