---
layout: default
title: JSdayBR
---
<div id="events" class="events">
  <h1 class="events__title">Edições</h1>

  <nav class="events-nav">
    {% for event in site.categories.events %}
      {% assign currentdate = event.date | date: "%Y" %}
      {% if currentdate != date %}
        <a class="events-nav__item" href="#{{currentdate}}">{{currentdate}}</a>
        {% assign date = currentdate %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="events-list">
  {% assign date = '' %}
  {% assign init = 'true' %}
  {% for event in site.categories.events %}
    {% assign currentdate = event.date | date: "%Y" %}
    {% if currentdate != date and init != 'true' %}
      </section>
    {% endif %}
    {% if currentdate != date %}
      {% if init == 'true' %}
        <section id="{{currentdate}}" class="event_year current">
      {% else %}
        <section id="{{currentdate}}" class="event_year">
      {% endif %}
      {% assign date = currentdate %}
      {% assign init = 'false' %}
    {% endif %}
        <article>
          <h2>{{ event.title }}</h2>
          <img src="{{ event.image }}" alt="{{ event.title }}">
          <span>{{ event.date | date_to_string }}</span>
          <p>{{ event.content }}</p>
          <p>
            <span>FICHA TÉCNICA</span>
            {{ event.participants }} PARTICIPANTES | {{ event.talks }} PALESTRAS | {{ event.workshops }} WORKSHOP | {{ event.hours }} DE CONTEÚDO
          </p>
        </article>
  {% endfor %}
  </div>
</div>
