.events {

  .events__title {
    @include monoidbold(60px);
    text-align: center;
    text-transform: uppercase;
  }

  .events-nav {
    text-align: center;
    margin: 0 0 100px;

    .events-nav__item {
      @include monoidbold(18px);
      color: $color-dark;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      transition: background .3s;
      &.events-nav__item--current {
        background: $background-primary;
      }
    }
  }

  .event_year {
    margin-bottom: 40px;
    display: none;
    &.current {
      display: block;
    }
  }
}
