<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="site">
    <header id="home" class="header">
      <section class="nav-bar">
        <div class="nav-bar__wrap">
          <h1 class="title">
            <a href="{{ site.baseurl }}">{{ site.name }}<span>{{ site.country }}</span></a>
          </h1>
          <nav class="nav">
            <a class="nav__item nav__item--current" class="link" href="#home">home</a>
            <a class="nav__item" class="link" href="#events">edições</a>
          </nav>
        </div>
      </section>
      <div class="header__wrap">
        <section class="header__about">
          <img src="{{ "/assets/images/header.png" | prepend: site.baseurl }}" alt="JS">
          <p>Descubra porque esse é o evento que mais cresce no Brasil, e porque ele está ficando na cabeça e no coração de todos.</p>
        </section>
      </div>
    </header>
    <section id="container">
      {{ content }}
    </section>
    <section class="newsletter">
        <!-- <h3>Fique ligado e receba todas as novidades do JSday Brasil!</h3>
        <span>Também não gostamos de spam :)</span>
        <input type="email" name="" id="">
        <button>ENVIAR!</button> -->
    </section>
    <section id="footer">
      <div class='hero'>
        <img src="{{ "/assets/images/rhino-yellow.png" | prepend: site.baseurl }}" alt="JS">
      </div>
      <div class='footline'>
        <h3>Quer organizar o JSday no seu estado? Mande um email para <a class="link" href="mailto:jsdaybr@gmail.com">jsdaybr@gmail.com</a></h3>
      </div>
    </section>
  </div>
</body>

{% include javascripts.html %}

</html>
