<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <section class="site">
    <section id="header">
      <h1 class="title">
        <a href="/">{{ site.name }}</a>
        </h1>
      <nav>
        <a class="link" href="/">home</a>
        <a class="link" href="/">edições</a>
        <a class="link" href="/">sobre</a>
      </nav>
    </section>
    <section id="container">
      {{ content }}
    </section>
    <section id="newsletter">
    </section>
    <section id="footer">
    </section>
  </section>
</body>

</html>
